<h1>¡Bienvenido!</h1>
<p>En esta exitante sala de escape, vas a simular un robo a banco. Venis planeandolo de hace meses ya, y tenés cualquier posible inconveniente que pueda aparecer resuelto. Hoy es finalmente el día. Ya llegaste al banco: es hacer, o morir.</p>
<a href = '@Url.Action("Index", "Home")'>
<button>
  <span class="transition"></span>
  <span class="gradient"></span>
  <span class="label">Reiniciar</span>
</button>