<link rel="stylesheet" href="style.css">
<h1> SALA 4 </h1>
<p>Lograron entrar a la bóveda pero ahora tiene que escapar. Por miedo a disparar la alarma deciden escapar por la ventilación de aire. Agarras el destornillador de la mochila y te acercas a la ventilación, pero hay un problema. ¡No sabés en que orden desatornillar los tornillos! De alguna manera tenés que lograr desatornillar la ventilación, pero cuidado, porque cuanto más tiempo pasa, más chances hay de que suene la alarma.</p>
<img src="@Url.Content("~/imagenes/sala4.png")" alt="Sala 4 imagen" usemap ="#ventilacion">
<map name="ventilacion">
    <area href="" coords="44,209,18" shape="circle">
    <area href="" coords="160,62,15" shape="circle">
    <area href="" coords="406,116,16" shape="circle">
    <area href="" coords="337,288,20" shape="circle">
</map>
<p>@ViewBag.Mensaje</p>
