<body class = "sala5">
<h1> SALA 5 </h1>
<p>¡Escapaste del banco, lograste completar tu plan! Pero.. todavía no del todo. Al sacar la ventilación la alarmá se disparó, alertando a la policia. Subiste al vehiculo de escape que estaba esperando fuera del banco, pero ahora viene la parte más difícil. Según el plan, la idea es encontrarse en un lugar con tus otros compañeros, cambiar de auto, y escapar. Búscas en la pantalla de tu auto la dirección del lugar, pero te das cuenta que solo te acordas de ciertas cosas:</p>
<ul>
    <li>El lugar está en Almagro</li>
    <li>Es el mejor lugar de sanguches de pollos de Argentina</li>
    <li>Nadie le llama por su nombre verdadero</li>
</ul>
<p>Aclaración: ingresar el nombre de la calle sobre la que está el lugar, todo en mayúsculas, tildes, y con puntos y comas incluidos (si tiene).</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10424.44250163511!2d-58.431020278523896!3d-34.616963238901285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1749752331216!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<form action='@Url.Action("verResultado", "Home")' method="POST" enctype="multipart/form-data">
    <input type = "text" maxlength="" name="codigoRecibido" oninput="this.value = this.value.toUpperCase();">
    <input class = "arriesgar" type="submit" value="Ingresar código">
</form>
<p>@ViewBag.Mensaje</p>
</body>