@{
    ViewData["Title"] = "Index";
}

<div>

<form action='@Url.Action("verResultado", "Home")' method="ACTION" enctype="multipart/form-data">
    <input type = "text" maxlength="4" name="codigo">
    <input class = "arriesgar" type="submit" value="Ingresar código">
</form>

</div>
