<body class = "perdiste">
<h1> PERDISTE </h1>
<a href = '@Url.Action("Index", "Home")'>
<button>
  <span class="transition"></span>
  <span class="gradient"></span>
  <span class="label">Reiniciar</span>
</button>
</a>
</body>