html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.seccionSala2{
  padding: 3%;
}
.seccionSala2 main{
  background-color: beige;
}
.seccionSala2 p{
  margin-bottom: 1%;
}
.seccionSala2 h1{
  
  text-align: center;
}