html {
  font-size: 14px;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.seccionSala2{
  padding: 3%;
}
.seccionSala2 main{
  background-color: beige;
}
.seccionSala2 p{
  margin-bottom: 1%;
}
.seccionSala2 h1{
  font-size: x-large;
  text-align: center;
}
.boton1
{
    margin-left: 14%;
    margin-top: 5%;
}
.boton2
{
    margin-left: 56.7%;
    padding-bottom: 1%;
}
.boton3
{
    margin-top:26%;
    margin-left: 14.5%;
    padding-top: 1%;
}
.boton4
{
    margin-left: 56%;
    padding-bottom: 0.4%;
}
.sala1 {
  background-color: black;
  background-image: url('/imagenes/sala1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
h1
{
  color: white;
}
p
{
  color: white;
}
.sala2 {
  background-color: black;
  background-image: url('/imagenes/sala2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sala3 {
  background-color: black;
  background-image: url('/imagenes/sala3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sala4 {
  background-color: black;
}
.sala4 img
{
  margin-left: 35%;
}
.sala5
{
  background-image: url('/imagenes/sala5.webp');
}
.sala5 iframe
{
  margin-top: 6%;
} 
ul li
{
  color: white;
}
.ganaste
{
  background-image: url('/imagenes/ganaste.webp');
  background-size: contain;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}
.perdiste
{
  background-image: url('/imagenes/perdiste.webp');
}
button {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}
